<main ng-app="invertedIndex">
  <section class="main" ng-controller="MainController">
    <header>
      <h1>Inverted Indexing</h1>
    </header>
    <div>
      <input ng-model="queryString">
      <button ng-click="searchListings(queryString)">Search</button>
    </div>
    <section ng-show="searchResults" class="results-section">
      <h1>I got results!</h1>
      <ul class="results-list">
        <li ng-repeat="result in searchResults">
          <section>
            <h2 ng-bind-html="result.title | sanitize"></h2> 
            <p><span ng-bind-html="result.summary | removeContactInfo "></span> <span>Interested? <a href="{{result.url}}">Read the Full Listing</a></span></p>
          </section>
        </li>
      </ul>
    </section>
  </section>
</main>