<main ng-app="invertedIndex">
  <section class="main" ng-controller="MainController">
    <header>
      <h1>Inverted Indexing</h1>
    </header>
    <div>
      <input ng-model="queryString">
      <button ng-click="searchListings(queryString)">Search</button>
    </div>
    <div ng-show="searchResults">
      <h1>I got results!</h1>
    </div>
  </section>
</main>